.rowlogin {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.rowlogin #div_email, #div_senha{
    width: 400px;
}

#btn_entrar {
    width: 200px;
}

#esqueci_senha{
    font-weight: 700;
    text-decoration: none;
    color: rgba(7, 113, 33, 0.75);
}

.form_control{
    border-color: rgb(184, 182, 182);
}

#bg_login{
    background-color: rgba(120, 171, 191, .35);
}
