#div_botoes button, #div_botoes_publi button{
    margin-right: 20px;
    margin-left: 20px;
    background: none;
    border: none;
    
}

#main_feed {
    background-color: #D0E2E9;
}

#div_botoes, #div_botoes_publi{
    margin-top: 20px;
    
    justify-content: center;
}

#div_botoes a{
    color: white;
}

#div_botoes_publi svg:hover{
    fill: #1ab812;
}


#div_botoes svg:hover {
    stroke: #01086d;
}

#div_perfil span, #div_perfil svg{
    color: green;
}

#div_perfil span:hover, #div_perfil svg:hover{
    color: rgb(21, 223, 21);
}

#div_posts {
    padding: 20px;
    padding-left: 20px;
    margin-right: 20px;
    margin-bottom: 24px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color:#95CF93 ;
}

#post1, #post2, #subdiv_post1, #subdiv_post2{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

#post1, #subdiv_publicar{
    margin-bottom: 16px;
}

#subdiv_post2 {
    width: 845px;
}
#componente_feedpage{
    background-color:#95CF93;
    border-color: #95CF93;
    border-bottom-color: #8BC28A;
    border-width: 3px;
    
}

#subdiv_post1, #subdiv_post2, #subdiv_publicar{
    background-color:#95CF93;
    padding: 20px;
    padding-right: 30px;
    border-radius: 20px;
    color: white;
}

#div_posts p{
    padding-right: 20px;
}

#text_area_denuncia{
    border-radius: 5px;
    border-color: lightgrey;
    height: 150px;
    width: 70%;
}
#menu_perfil{
    background-color: #95CF93;
}
#div_feed{
    background-color: #95CF93;
     border-radius: 15px;
     margin: 0 0 24px 0;
     border-width: 0.2rem;
     border-color:#8BC28A;
     width: 100%;
     border-style: solid;
     padding: 10px;
     
}
#divisoria{
    width: 5;
    background-color: #01086d;
}
#borda{
    border-width: 0.5rem;
    border-color: #C8D9E0;
    
    
}