/* Main da Homepage (Vinicius)*/

.main1, .div_nossos_parceiros
{
    background-color: rgba(120, 171, 191, 0.35);
    background-repeat: no-repeat; 
    background-size: cover;
    padding-top: 20px;
}

.image_home
{
    height: 800px;
    width: 500px;
    margin-bottom: 16px;
    border-radius: 20px;
}

#main1
{
    padding-top: 30px;
    padding-bottom: 30px;
}


#header_vantagens
{
    margin-bottom: 40px;
    text-align: center;
    border-radius: 50px;
}

#desc_home p, #header_vantagens, #vantagens, #div_botao, #div_botao p
{
    padding: 20px;
    width: 600px;
    color: rgba(7, 113, 33, 0.75);
    font-weight: 800;
    font-size: larger;
}

#desc_home h4, #row2 h4, #row3 h4
{
    font-weight: 900;
    font-size: xx-large;
    color: #05b3ca;
}

#row1, #row2, #row3
{
    margin-top: 70px;
    margin-bottom: 150px;
}

#row2 .col
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#planetilson3
{
    margin-right: 20px;
    padding-top: 35px;
}

#desc_home p
{
    padding-right: 50px;
    padding-left: 50px;
}

#desc_home
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 20px;
}

#div_imagem_home
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#vantagens li
{
    padding-bottom: 30px;
    padding-top: 10px;
}

#vantagens
{
    padding-left: 70px;
    padding-top: 40px;
    padding-bottom: 0px;
    margin-top: 30px;
}

#img_votorantim, #img_tvtem
{
    width: 220px;
    height: 180px;
}

#img_havan
{
    width: 250px;
    height: 200px;
}

#img_sesc
{
    width: 250px;
}

#div_nossos_parceiros
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    padding-bottom: 60px;
}

#div_nossos_parceiros h3
{
    height: 60px;
    width: 30%;
    margin-top: 20px;
    padding: 20px;
    text-align: center;
    border-radius: 50px;
    color:#05b3ca;
    font-weight: 900;
    font-size: xx-large;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


#div_apoiadores
{
    margin-top: 50px;
    margin-bottom: 70px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}

#div_botao
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#botao_cadastro2
{
    background-color: rgba(4, 165, 44, 0.75);
    border: none;
    color: #e8f3e8;
    width: 250px;
    height: 60px;
    font-weight: 700;
    box-shadow: 0px 7px rgba(2, 84, 23, 0.75)
}

#botao_cadastro2:hover{
    background-color: rgba(3, 62, 18, 0.85);
    color: #AEF2AC;
}

#div_botao a
{
    margin-top: 30px;
    margin-bottom: 20px;
}

a
{
    color: rgba(2, 84, 23, 0.75);
    font-weight: 700;
    text-decoration: none;
}

#links_footer
{
    text-align: center;
}