

/* Main da Homepage (Vinicius)*/



#image_home
{
    height: 800px;
    width: 500px;
    margin-bottom: 16px;
    border-radius: 20px;
}

#main1
{
    padding-top: 30px;
    padding-bottom: 30px;
}

#header_vantagens
{
    margin-bottom: 40px;
    text-align: center;
    border-radius: 50px;
}


#desc_home p
{
    padding-right: 50px;
    padding-left: 50px;
}

#desc_home
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 20px;
}

#div_imagem_home
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#vantagens li
{
    list-style-type: disc;
    padding-bottom: 30px;
}

#vantagens
{
    padding-left: 70px;
    padding-top: 30px;
    padding-bottom: 0px;
    text-align: left;
}

#img_votorantim, #img_tvtem
{
    width: 220px;
    height: 180px;
}

#img_havan
{
    width: 250px;
    height: 200px;
}

#img_sesc
{
    width: 250px;
}

#div_nossos_parceiros
{

    color: white;
}


#div_botao a
{
    margin-top: 30px;
    margin-bottom: 20px;
}

#links_footer
{
    text-align: center;
}